@theme {
  --breakpoint-*: initial;
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 400px;
  --breakpoint-sm: 520px;
  --breakpoint-md: 768px;
  --breakpoint-mdl: 810px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-1xl: 1300px;
  --breakpoint-2xl: 1500px;
  --breakpoint-3xl: 2500px;
}

@theme inline {
  --font-serif: "Playfair Display", "serif";
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* font size */
  --text-xs: 1.2rem;
  --text-xs--line-height: 1.6rem;
  --text-sm: 1.4rem;
  --text-sm--line-height: 2rem;
  --text-base: 1.6rem;
  --text-base--line-height: 2rem;
  --text-lg: 1.8rem;
  --text-lg--line-height: 2.8rem;
  --text-xl: 2rem;
  --text-xl--line-height: 2.8rem;
  --text-2xl: 2.4rem;
  --text-2xl-line-height: 3.2rem;
  --text-3xl: 3rem;
  --text-3xl-line-height: 3.6rem;
  --text-4xl: 3.6rem;
  --text-4xl-line-height: 4rem;
  --text-5xl: 4.8rem;
  --text-5xl-line-height: 1;
  --text-6xl: 6rem;
  --text-6xl-line-height: 1;
  --text-7xl: 7.2rem;
  --text-7xl-line-height: 1;
  --text-8xl: 9.6rem;
  --text-8xl-line-height: 1;
  --text-9xl: 12.8rem;
  --text-9xl-line-height: 1;
}
